<!DOCTYPE HTML>
<html ng-app>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <title>QIMP - Code Trivia</title>
      <link rel="shortcut icon" href="favicon.ico" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
      <!-- So far I understand the idea of angular but I don't know that I agree with it. I'm sure since Google is
      behind it they've taken in to consideration many facets that I'm not aware of but with the merging of the
      business logic (js) with the visual presentation (html, css) you're commiting to maintaining them that
      way. -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
      <link rel="stylesheet" media="screen, projection" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css">
      <link rel="stylesheet" media="screen, projection" href="/quiz.css">
      <script src="/socket.io/socket.io.js"></script>
      <script src="/quiz.js"></script>
   </head>
   <body>
      <div class="site-wrapper" ng-controller="QuizController">
         <header class="site-header"><img class="logo" src="/qimp-logo.png"/></header>
         <section id="join" class="form-join" ng-show="is_current_section('join')">
            <p class="small-txt small-bm" ng-hide="credentials_are_valid()">Enter a handle longer than 2 characters and a valid email address to join game.</p>
            <input type="text" placeholder="handle" id="handle" autocomplete="off" ng-model="handle" />
            <input type="text" placeholder="email" id="email" autocomplete="off" ng-model="email" />
            <input type="button" value="Join Next Game" id="join_button" ng-click="join_clicked()" ng-disabled="!credentials_are_valid()" />
            <input type="button" value="View Leader Board" id="leader_board_button" ng-click="leader_board_clicked()" ng-disabled="!credentials_are_valid()" />
            <label clall="checkbox-label" title="Remember my credentials"><input type="checkbox" id="remember_creds" ng-model="remember_creds"> Remember my credentials</label>
         </section>
         <section id="limbo" class="limboboxes" ng-show="is_current_section('limbo')">
            <p class="small-txt small-bm" ng-show="gameStarting">Your game will be starting soon!</p>
            <div class="limbobox">W</div>
            <div class="limbobox">A</div>
            <div class="limbobox">I</div>
            <div class="limbobox">T</div>
            <div class="limbobox">I</div>
            <div class="limbobox">N</div>
            <div class="limbobox">G</div>
         </section>
         <section id="question" ng-show="is_current_section('question')">
            <div id="progressbar" class="progressbar group"><div id="progressbarlabel" class="progressbar-label">progress bar</div></div>
            <div id="input" class="box--io"><span class="io-label">Input:</span>{{question.input}}</div>
            <ul id="choices" class="group">
               <li class="box--choice" ng-class="{'is-selected':option_is_selected($index, false), 'is-not-selected':option_is_selected($index, true), 'is-correct':option_is_correct($index, false), 'is-not-correct':option_is_correct($index, true)}" ng-repeat="option in question.textQuestions" ng-click="option_selected($index)">{{option}}</li>
            </ul>
            <div id="output" class="box--io"><span class="io-label">Output:</span>{{question.output}}</div>
         </section>
         <section id="scores" ng-show="is_current_section('scores')">
            <div class="align-center"><input type="button" value="Join Next Game" ng-click="join_clicked()" /></div>
            <div ng-class="{'score-group':show_current_scores()}">
               <ol id="current_game" class="score-chart" ng-show="show_current_scores()">
                  <h1 class="score-chart-title--scores">Scores</h1>
                  <li ng-repeat="scr in scores">
                     <ul class="score-chart-row">
                        <li>
                           {{scr.handle}}&nbsp;
                        </li>
                        <li>
                           {{scr.score}}&nbsp;
                        </li>
                     </ul>
                  </li>
               </ol>
               <ol id="overall" class="score-chart">
                  <h1 class="score-chart-title--leaderboard">Leaderboard</h1>
                  <li ng-repeat="scr in leader_board">
                     <ul class="score-chart-row">
                        <li>
                           {{scr.handle}}&nbsp;
                        </li>
                        <li>
                           {{scr.score}}&nbsp;
                        </li>
                     </ul>
                  </li>
               </ol>
            </div>
         </section>
         <footer class="site-footer">
            <p><img class="footer-logo" src="/qimp-footer-logo.png"/> Code trivia brought to you by <a href="http://www.boomtownroi.com" target="_new">BoomTown</a>.</p>
         </footer>
      </div> <!-- end site-wrapper -->
   </body>
</html>